body{
    font-family: 'Overpass', sans-serif;
}

.defaultContainer{
    background-color: #eeeeee;
    width: 100%;
    height: 100vh;
}

.questionHeader {
    background-image: linear-gradient(to bottom, #0000, rgba(255,255,255,1.0)),url("../img/bg1.png");
    width: 100vw;
    height: 50vw;
    text-align: center;
    vertical-align: center;
    color: white;
    padding: 5em;
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: cover;
}

@media (max-width:1000px)  {
    .questionText {
        font-size: 75px;
        display: inline-block;
        font-weight: bold;
    }
}

.questionMain {
    position: absolute;
    top:20%;
    width: 100%;
    padding: 5vw;
    padding-top: 0px;
    margin-top: 5%;
    display: grid;
    grid-column-gap: 5vw;
    grid-row-gap: 5vw;
    grid-template-columns: auto auto;
}

.item{
    font-weight: bold;
    height: 42.5vw;
    width: 42.5vw;
    background-color: white;
    text-align: center;
    font-size: 3.5em;
    color: #8c8c8c;
    padding: 4rem;
    border: 5px solid white;
    border-radius: 5px;
}


.item2{
    font-weight: bold;
    height: 42.5vw;
    width: 90vw;
    background-color: white;
    text-align: left;
    font-size: 3.5em;
    color: #8c8c8c;
    /*padding: 6rem;*/
    border: 5px solid white;
    border-radius: 5px;
}
.item3{
    font-weight: bold;
    height: 30vw;
    width: 90vw;
    background-color: white;
    text-align: left;
    font-size: 3.5em;
    color: #8c8c8c;
    border: 5px solid white;
    border-radius: 5px;
    display: inline-block;
    margin: auto;
    padding-left: 60px;
}

.lm{
    padding-left: 20vw !important;
}

.icon{
    width: 75%;
}

.iconbig{
    margin: 8.75vw;
    height: 25vw;
}
.icon3{
    height: 20vw;
    margin-top: 5vw;
}

.icon2{
    width: 10%;
}
.bean{
    width: 100%;
}
.beanContainer{
    width: 100%;
    padding: 10%;
    padding-left: 5%;
    padding-right: 5%;
    background-color: white;
    display: grid;
    grid-column-gap: 5.71%;
    grid-template-columns: auto auto auto auto auto auto;
}

.beanmaincontainer{
    background-color: white;
    padding-top: 10%;
    height: 90vw;
    width: 90vw;
}

.coffeeIcon{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 7%;
    width: 40vw;
}

.nextbtn {
    margin: auto;
    position: absolute;
    left: 35vw;
    bottom: -15vw;
    text-align: center;
    color: white;
    padding: 20px;
    font-size: 80px;
    vertical-align: center;
    width: 30vw;
    height: 15vw;
    border-radius: 75px;
    background-color: #dbb96c;
}

.yes{
    border: solid 10px white;
    border-left: solid 10px #dbb96c;
    color: #dbb96c;
}

.no{
    border: solid 10px white;
    color: #8c8c8c;
    border: solid 10px white;
}

.endContainer{
    width: 100vw;
    height: 100vh;
    padding-top: 50px;
    background-color: #003976;
    color: #dbb96c;
}

.captueResult{
    text-align: center;
    font-size: 70px;
    padding: 15px;
    font-weight: bold;
    margin-bottom: 5vw;
}

.resultCarussel{
    width: 100vw;
    height: 105vw;
    overflow: scroll;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
}

.resultCarussel::-webkit-scrollbar{
    display: none;
}

.result{
    float: left;
    width: 70vw;
    height: 105vw;
    border-radius: 5px;
    background-color: white;
    color: black;
    margin-left: 10vw;
}

.placeholder{
    width: 5vh;
}

.productimage{
    width: 100%;
    height: auto;
    margin-top: 15px;
}

.imageCapture{
    font-weight: bolder;
    font-size: 55px;
    text-align: left;
    padding: 3vw;
}
.description{
    padding: 3vw;
    padding-top: 0px;
    font-size: 45px;
    height: 115px;
    overflow: hidden;
    text-align: left;
    color: black;
}

.price{
    display: inline-block;
    position: relative;
    bottom: -10px;
    right: -50vw;
    font-size: 50px;
    color: black;
    text-align: right;
}

.freeSample{
    margin: auto;
    margin-top: 15vw;
    padding: 20px;
    text-align: center;
    font-size: 70px;
    font-weight: bold;
    width: 90vw;
    border-radius: 5px;
    background-color: #002967;
    color: #dbb96c;
}

.finder{
    padding: 20px;
    margin: auto;
    margin-top: 10vw;
    text-align: center;
    color: white;
    font-size: 55px;
}

.fas{
    margin-left: 5px;
}

.mr{
    margin-right: 50px;
}

.left{
    text-align: left;
}
.progress{
    text-align: center;
    background-color: rgba(0,0,0,0);
    width: 40vw;
    height: auto;
    margin: auto;
    margin-bottom: 45px;
}

/*
    fix height
    center text vertically

*/


.item:hover{
    color: #dbb96c;;
}
.item2:hover{
    color: #dbb96c;;
}
.item3:hover{
    color: #dbb96c;
}

remcolor:hover{
    color:white;
}